<div class = "edit-page">
<h1>Edit Users</h1>

<%= form_for @user do |form| %>
	<h2>First name:</h2>
	<h3><%= form.text_field :fname %></h3><br>
	<h2>Last name:</h2>
	<h3><%= form.text_field :lname %></h3><br>
	<h2>Username:</h2>
	<h3><%= form.text_field :username %></h3><br>
	<h2>Password:</h2>
	<h3><%= form.text_field :password %></h3><br>
	<h2>Email:</h2>
	<h3><%= form.text_field :email %></h3><br>
	<%= form.submit %>
<% end %>	

<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:query, "Search") %>
	<%= text_field_tag(:query) %>
	<%= submit_tag("Submit") %>
<% end %>	
</div>