<div class="show-page">
  <div id="header">   
    <img src="/assets/whisky-bottles.jpg"/>
  <h1 id="welcome">Welcome!</h1>
  </div>

  <div id="profile">
    <h2 class="profile-deets">First name:</h2><p><%= @user.fname %></p>
    <h2 class="profile-deets">Last name:</h2><p><%= @user.lname %></p>
    <h2 class="profile-deets">Username:</h2><p><%= @user.username %></p>
    <h2 class="profile-deets">Email:</h2><p><%= @user.email %></p>  



  <div>
  	<h2><% if @posts.present? %></h2>
  		<h3><% @posts.each do |post| %></h3>
      <h2>Title</h2>
  		<h3><%= post.title %></h3><br />
      <h2>Content</h2>
  		<h3><%= post.text %></h3><br/>
  
  	<h3>	<%= link_to 'Back', posts_path %>
  | <%= link_to 'Edit', edit_post_path %> | <%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %></h3>
  		<% end %>
  	<% end %>
    <%= link_to "Log Out", session_path(@user.id), method: :delete %>
  </div>
  </div>

  <div>
  
  </div>
</div>