<div id="header">   
  <img src="/assets/whisky-bottles.jpg"/>
<h1 id="welcome">Welcome!</h1>
</div>

<div id="profile">
  <h2 class="profile-deets">First name:</h2><p><%= @user.fname %></p>
  <h2 class="profile-deets">Last name:</h2><p><%= @user.lname %></p>
  <h2 class="profile-deets">Username:</h2><p><%= @user.username %></p>
  <h2 class="profile-deets">First name:</h2><p><%= @user.email %></p>  



<div>
	<% if @posts.present? %>
		<% @posts.each do |post| %>
    <h2>Title</h2>
		<%= post.title %><br />
    <h2>Content</h2>
		<%= post.text %><br/>
</div>
		<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path %> | <%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
		<% end %>
	<% end %>

</div>

<div>
<%= link_to "Log Out", session_path(@user.id), method: :delete %>
</div>