<h1>Welcome!</h1>

<div>
  <h2>First name:</h2><%= @user.fname %>
  <h2>Last name:</h2><%= @user.lname %>
  <h2>Username:</h2><%= @user.username %>
  <h2>First name:</h2><%= @user.email %>  
</div>


<div>
	<% if @posts.present? %>
		<% @posts.each do |post| %>
    <h2>Title</h2>
		<%= post.title %><br />
    <h2>Content</h2>
		<%= post.text %><br/>
      
		<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path %> | <%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
		<% end %>
	<% end %>
</div>


<%= link_to "Log Out", session_path(@user.id), method: :delete %>