<div class="top-edit-page">
	<div color="hdr">
		<h1>Editing Posts</h1>
	</div>	
	<div class = "edit-page">
		<%= form_for :post, url: post_path(@post), method: :patch do |form| %>
			<% if @post.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
				<ul>
					<% @post.errors.full_message.each do |msg| %>
					<li><%= msg%></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<p>
				<%= form.label :title %><br>
				<%= form.text_field :title %>
			</p>
			<p>
				<%= form.label :text %><br>
				<%= form.text_area :text %>
			</p>
			<p>
				<%= form.submit "Post" %>
			</p>
		<% end %>		
		<%= link_to 'Back', posts_path %>
		</div>
	</div>
</div>	