<div class="header">
  <h1>Posts Page</h1>
</div>

<div class = "posts-page">
<h2>
  <strong>Title:</strong>
  <%= @post.title %>
</h2>
 
<h2>
  <strong>Content:</strong>
  <%= @post.text %>
</h2>

<h2>Add a comment:</h2>
<%= form_for ([@post, @post.comments.build]) do |form| %>
<p>
	<%= form.label :commenter %><br />
	<%= form.text_field :commenter %>
</p>
<p>
	<%=form.label :body %><br />
	<%= form.text_area :body %>
</p>
<p>
	<%= form.submit %>
</p>
<% end %>
<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path %>

<% if @post.comments.present? %>
  <% @post.comments.each do |comment| %>
  <%= comment.body %>
  <% end %> 
<% end %>  
</div>