<!DOCTYPE html>
<html>
<head>
  <title>snifter</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  	<ul>
  		<li class="brdr"><a href="/users/<%= session[:user_id] %>">Profile</a></li>
      <li class="brdr"><a href="/posts">Feed</a></li>
  		<li><a href="/posts/new">New Post</a></li>
  	</ul>
  </nav>
<%= yield %>

</body>
</html>
